body{
    padding: 0;
    margin: 0;
}
h3,h2,h1{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
input{
    border: none;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.main-container{
    /*border: 1px solid red;*/
    /*一般给双数*/
    height: 84px;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    background: white;
    z-index: 9998;
}
.top-container{
    margin-left: 86px;
}
/* 头部信息添加下边线*/
.top_bottom{
        border-bottom: 1px solid rgb(204,204,204);
}
.container{
    height: 84px;
    position: relative;
}
.container .logo{
    /* 图片，给一个值*/
    height: 72px;
    position: absolute;
    left: 0;
    top: 6%;
}

.container .nav_menu{
    /*border: 1px solid gold;*/
    position: absolute;
    right: 8%;
    top: -8%;
}
.container .nav_menu .nLi{
    float: left;
    width: 100px;
    /*height: 86px;*/
    line-height: 84px;
    list-style: none;
    /*margin: 0 20px;*/
    text-align: center;
}
.nLi a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    /*font-weight: normal;*/
}
.nLi:hover a{
    color: rgb(59,201,194);
}
.nLi:hover {
    background: rgb(226,226,226);
    border-bottom:3px solid rgb(59,201,194) ;
}

.sub{
    /*border: 1px solid red;*/
}
.sub li{
    height: 46px;
    background: rgb(125,211,106);
    list-style: none;
    border-bottom:1px solid white ;
    line-height: 46px;
    display: none;
}
.nLi:hover .sub li a{
    color: white;
}
.nLi:hover .sub li {
    display: block;
}

/* 第二部分轮播图样式*/
.carousel{
    margin-top: 86px;
}
.carousel-inner{
    position: relative;
}
.carousel-inner .item img{
    width: 100%;
}
.item {
    display: none;
}
.active{
    display: block;
}
.carousel-indicators{
    position: absolute;
    left: 46%;
    bottom: 8%;
    /*border: 1px solid red;*/
}
.carousel-indicators li{
    list-style: none;
    float: left;
    margin: 0 20px;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.carousel-indicators .active{
    background: white;
}
/* 轮播图左右两边点击*/
.carousel-inner .left{
    position: absolute;
    left: 10%;
    top:40%;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.carousel-inner .right{
    position: absolute;
    left: 86%;
    top:40%;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
/* 比赛分类 */
.game_class{
    /*border: 1px solid red;*/
    margin-top: 10px;
}
.game_class .container_game{
    margin-left: 86px;
    position: relative;
}
.container_game .titleh2{
    height: 60px;
    /*border: 1px solid red;*/
    border-bottom: 1px solid rgb(228,231,234);

}
.container_game .titleh2 span{
    font-weight: normal;
    font-size: 32px;
}
/* 比赛分类的图片*/
.container_game .row{
    /*border: 1px solid red;*/
}
.container_game .row .cate{
    border: 1px solid rgb(225,215,0);
    width: 228px;
    height: 164px;
    background: rgb(141,210,210);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.cate .bc{
    height: 60%;
    margin-left: 30%;
}
.cate p{
    font-size: 12px;
    text-align: center;
    margin-top: -2px;
    color: rgba(0,0,0,0.4);
}
.cate div{
    width: 72px;
    height: 24px;
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 14px;
    margin-left: 34%;
    text-align: center;
    line-height: 24px;
    border-radius: 25px;
}
.container_game .row .admin{
    background: rgb(225,165,123);
}
.container_game .row .teacher{
    background: rgb(189,226,159);
}
.container_game .row .parent{
    background: rgb(141,154,210);
}

 /* 底部信息 */
.footer{
    margin-top: 20px;
    /*height: 200px;*/

}
.footer .footer-content{
    width: 100%;
    height: 88px;
    background: rgb(48,49,87);
    /*border: 1px solid red;*/
}
.footer-content .footer-nav{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.footer-content .footer-nav a{
    color: rgba(255,255,255,0.4);
    font-size: 14px ;
    display: inline-block;
    width: 120px;
    text-align: center;
    text-decoration: none;
}
.footer-content .footer-nav .a_text{
    width: 80px;
}

.footer-content .copy{
    text-align: center;
    font-size: 14px;
    color:rgb(142,142,142);
    margin-top: 4px;
}
/* 如果是css 样式，需要从上往下找，从左往右找*/

 /* 快速出题，首页设计*/
.jumbotron-container{
    /*border:  1px solid red;*/
    margin-top: 106px;
}
.jumbotron-container .jumbotron-content{
    margin-left: 86px;
    /*border: 1px solid red;*/
}
.jumbotron-content .jumbotron{
    height: 300px;
    background: rgb(204,204,204);
    border-radius: 20px;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 20px;
    /*color: red;*/
}

.jumbotron h1{
    position: absolute;
    left: 16%;
    top: 10%;
    color: rgb(255,165,0);
    font-size: 40px;
}
.jumbotron p{
    position: absolute;
    left: 8%;
    top: 36%;
    font-size: 20px;
}
/* a 行标签：
1、多个标签可以横着排在一起，
2、行标签没有宽，没有高
display： block inner block-inner
3、 字体颜色，必须在本标签设置
*/
.jumbotron a{
    display: block;
    width: 108px;
    height: 38px;
    background: rgb(65,136,210);
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
    position: absolute;
    left: 8%;
    top: 70%;
    color: white;
}
 /*  录制题录css样式 */
.union-container{
    margin-top: 106px;
    /*border: 1px solid red;*/
}
.union-container .union{
    /*border: 1px solid red;*/
    position: relative;
}
.union .union-title-black{
    width: 454px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid rgb(160,160,160);
    margin:60px auto;
    text-align: center;
    line-height: 70px;
    font-size: 36px;

}
.union .img01{
    width: 198px ;
    height: 194px;
    background: url("../image/download_icon.png");
    text-align: center;
    line-height: 260px;
}
.union .union-ul{
    /*border: 1px solid red;*/
    margin-left: 20px;
}
.union .union-ul li{
    float: left;
}
.union .img01 p{
    color: white;
    font-size: 22px;
}
.union .union-ul .noimg{
    width: 62px;
    height: 194px;
    background: url("../image/right_arrow.png");
    background-repeat: no-repeat ;
    background-position: center ;
    margin: 0 10px;
}
.union .img02{
    background: url("../image/edit_icon.png");
}
.union .img03{
    background: url("../image/select_icon.png");
}
.union .img04{
    background: url("../image/upload_icon.png");
}

/* 开始录制的位置*/
.union .uploadfile{
    /*border: 1px solid red;*/
    margin-top: 20px;
    margin-left: 20px;
}
.uploadfile .col-md{
    width: 266px ;
    height: 70px;
    /*border: 1px solid gold;*/
    font-size: 12px;
    float: left;
}
.uploadfile .col-md label{
    /* label 行标签，没有外边距，间边距*/
    display: block;
    margin-bottom: 10px;
}
.col-md a{
    display: inline-block;
    width: 50px;
    height: 30px;
    color: white;
    background: rgb(68,157,68);
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}
.col-md span{
    color:rgb(128,128,128)
}

.col-md .form-control{
    text-indent: 24px;
    width: 220px;
    height: 30px;
    border: 1px solid rgb(128,128,128);
    border-radius: 5px;
}
.uploadfile .col-md-sub{
    margin:60px 40%;
}
.uploadfile .col-md-sub input{
    background: rgb(217,83,79);
    width: 240px;
    height: 60px;
    border-radius: 10px;
    font-size: 32px;
    color: white;
}
.uploadfile .col-md .col-md-3{
    background: rgb(60,151,230);
    color: white;
}

/* 配置比赛 */
.game_container{
    margin-top: 106px;
    /*border: 1px solid red;*/
    /*height: 800px;*/

}
.game_container .game-inner-content{
    height: 788px;
    background: url("../image/form-bg.jpg");
}
.game_container .game{
    height: 788px;
    position: relative;
    left: 0;
    top: 0;
}
.game .game-title-black{
    position: relative;
    top: 10%;
    left: 30%;
    color: white;
    width: 450px;
    height: 72px;
    border: 2px solid rgb(160,160,160);
    font-size: 34px;
    line-height: 72px;
    text-align: center;
    border-radius: 10px;
}
.game-inner-content .row{
    height: 600px;
    margin-top: 98px;
    border: 2px solid red;
}
.row .row-md{
    width: 180px;
    position: relative;
    left: 10%;
    top: 8%;
    /*border: 1px solid gold;*/
}
.row-md .row-span{
    display: block;
    font-size: 34px;
    color: white;
}
.row-md .bank-type{
    font-size: 12px;
    color: white;
    margin: 8px 0;
}
.row-md .dropdown{
    width: 82px;
    height: 46px;
    background: rgb(91,192,222);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.row-md .dropdown-menu{
    width: 228px;
    /*height: 180px;*/
    background: white;
    /*border:  1px solid blue;*/
    margin-top: 20px;
    padding-left: 30px;
    border-radius: 10px;

    display: none;
}
/* 类选择器用点.  i选择器用的#*/
.dropdown-menu li{
    margin:5px;
    height: 40px;
    width: 84px;
    background: rgb(91,192,222);
    color: white;
    float: left;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* 选择题库 */
.row-md .list-group{
    width: 236px;
    height: 38px;
    border-radius: 5px;
    background: rgb(91,192,222);
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
/* python测试题 */
.list-group-item{
    /*width: 800%;*/
    /*height: 800px;*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: none;
}
.list-group-item .tiku_info{
    width: 600px;
    height: 380px;
    background: white;
    margin: 100px auto;
    border-radius: 10px;
    padding-top: 14px;
    position: relative;
}
.tiku_info li{
    border-bottom:1px solid rgb(160,160,160);

}
.tiku_info .tikuIn{
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
}
.list-group-item .bank-x{
    position: absolute;
    right: 6%;
    top: 6%;
    cursor: pointer;
    font-size: 20px;
}
.tiku_info .tikuLi span{
    display: inline-block;
    width: 260px;
    height: 34px;
    line-height: 34px;
    text-align: left;
    margin-left: 10px;
}
.tiku_info .list-group-btn{
    width: 90px;
    height: 34px;
    background: rgb(51,122,183);
    position: absolute;
    right: 10%;
    bottom: 6%;
    border-radius: 5px;
    line-height: 34px;
    /*font-size: 18px;*/
    color: white;
    text-align: center;
    cursor: pointer;
}

/* 登录逻辑 */
.top-container .container .model{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}
.model .model-dialog{
    width: 600px;
    height: 446px;
    background: white;
    margin: 80px auto;
    border-radius: 20px;
}
.model .model-header{
    position: relative;
    height: 54px;
    border-bottom: 1px solid rgb(201,201,201);
}
.model .model-header .model-title{
    float: left;
    line-height: 54px;
    margin-left: 30px;
    font-weight: normal;
    font-size: 20px;
}
.model .model-header .close{
    float: right;
    line-height: 54px;
    margin-right: 30px;
    cursor: pointer;
}
.model .model-body{
    /*border: 1px solid red;*/
    margin-top: 20px;
    border-bottom: 1px solid rgb(201,201,201);
    padding-bottom: 20px;
}
.model-body .form-group{
    width: 558px;
    /*height: 64px;*/
    /*border: 1px solid gold;*/
    margin-left: 20px;
    margin-top: 20px;
}
.form-group label{
    display: block;
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
}
.form-group input{
    border: 1px solid rgb(201,201,201);
    border-radius: 5px;
    width: 560px;
    height: 34px;
    line-height: 34px;
    text-indent: 24px;
}
.model-header .model-footer{
    float: right;
    line-height: 66px;
    margin-right: 30px;
}
.model-footer a{
    color: rgb(76,76,76);
    font-size: 12px;
    margin: 0 20px;
}
.model-footer .btn-primary{
    width: 66px;
    height: 36px;
    color: white;
    background: rgb(51,122,183);
    border-radius: 5px;
    border: none;
}

/* 修改注册页面显示*/
#signUpModel .model-dialog{
    height: 646px;
    margin-top: 10px;
}